<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header" class="container-fluid p-2 bg-primary text-white text-center">
    <div class="container mt-2">
        <div class="row align-items-center">
            <div class="col-sm-2"><img src="/img/4.png" style="max-width: 80px;"></div>
            <div class="col-sm-3"><span>Домашняя бухглатерия</span></div>
            <div class="col-sm-3"><span th:text="${dataTime}"></span></div>
            <div class="col-sm-3" th:text="${userLogin}"></div>
        </div>
    </div>
</header>
</html>