<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Привет, Thymeleaf!</title>

    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <div class="header">
        <span>Логотип</span>
        <span>Дата</span>
        <span>Время</span>
    </div>

    <div class="sidebar">
        <span>дашборд</span>
        <span>категории</span>
        <span>транзакции</span>
        <span>финансовые цели</span>
        <span>отчёт</span>
    </div>


    <div class="container_main">
        <h1>Добро пожаловать, <span th:text="${username}"></span>!</h1>
        <p>Ваша тестовая логика <span th:text="${serviceTest}"></span> </p>
        <p>Моя база данных <span th:text="${bazaAll}"></span> </p>
    </div>

    <div class="footer">
        <span>баланс</span>
        <span>кол-во транкзаций</span>
    </div>


    <!-- Форма для создания пользователя -->
    <div class="form-container">
        <h2>Создать нового пользователя:</h2>
        <form th:action="@{/}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="login">Логин:</label>
                <input type="text" id="login" th:field="*{login}" placeholder="Введите логин">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" th:field="*{password}" placeholder="Введите пароль">
            </div>
            <button type="submit">Создать пользователя</button>
        </form>
    </div>



    <div class="form-container">
        <h2>Залогиниться:</h2>
        <form th:action="@{/login/}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="login">Логин:</label>
                <input type="text" id="logina" th:field="*{login}" placeholder="Введите логин">
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="passwordd" th:field="*{password}" placeholder="Введите пароль">
            </div>
            <button type="submit">Вход</button>
        </form>
    </div>





</body>
</html>