<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../../../../open/style.css">
    <title>Document</title>
</head>
<body>
    <header class="headerContainer">
        <div><img src="./img/logo.png" class="logo"><span>Домашняя бухглатерия</span></div>
        <div class="dataTime"><span>25 марта 20:40</span></div>
        <div class="nameUser">Игорь Шилов</div>
    </header>

    <main class="mainContainer">

    <div class="sidebar">
        <div class="item">Главная страница</div>
        <div class="item">Транзакции</div>
        <div class="item">Категории</div>
        <div class="item">Финансовые цели</div>
        <div class="item">Отчёт</div>
        <div class="item">Настройки</div>   
        </ul>
    </div>

    <div class="content">
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
    </div>
    </main>

    <footer class="footerContainer">
        <div class="balanceFooter"><span>Бюджет: 5715 рублей</span></div>
        
    </footer>
</body>
</html>