<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>

</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>
<main class="mainContainer">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="content">
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
        <div class="contentBlock"><p>flex — в большинстве случаев, когда контейнер должен быть основным структурным блоком (шапка, меню, карточки, сетка).</p></div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>